node_modules/
dist/
*.log
.env
artifacts/
cache/
coverage/
coverage.json
typechain-types/
types/
ignition/deployments/
backend/.env
backend/data/
frontend/node_modules/
frontend/dist/
frontend/*.log
demo-video & ppt slide/review/
